body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 11pt;
}

a {
    color: #4183c4;
    text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

hr {
  height: 2px;
  margin: 15px 0;
  background: #DDD;
  border: 0;
}
