<mjml>
  <mj-head>
    <mj-title>SR(A)WN {{ date }} : {{ sryear }} Issue {{ issue }}<</mj-title>
  </mj-head>
  <mj-body>
    <mj-section>
    	<mj-column>
      	<mj-image width="100px" src="https://studentrobotics.org/style/assets/logo.svg"></mj-image>
        <mj-text font-size="60px" font-family="Oswald" align="center">SR(A)WN</mj-text>
				<mj-text font-size="20px" font-family="Oswald" align="center">Student Robotics (Almost) Weekly Newsletter</mj-text>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-divider border-color="#3270ed"></mj-divider>
        <mj-text font-size="30px" font-family="Oswald" align="center">{{ date }} : {{ sryear }} Issue {{ issue }}</mj-text>
        <mj-text font-size="20px" font-family="Open Sans" line-height="25px">The Student Robotics (Almost) Weekly Newsletter is a (roughly) fortnightly newsletter which summarises the goings-on across Student Robotics. <strong>Emboldened</strong> items are ones for which additional help has been requested.</mj-text>
        {{ content }}
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text font-size="30px" font-family="Open Sans">Subscribe to SR(A)WN</mj-text>
        <mj-text font-size="20px" font-family="Open Sans" line-height="25px">You can keep up with SR(A)WN online:</mj-text>
        <mj-text font-size="20px" font-family="Open Sans" line-height="25px">
          <ul>
            <li>Join the <code>#srawn</code> channel on <a href="https://app.slack.com/client/T0EEPF1LH/C01GBT8NMSN">Slack</a> <em>recommended</em></li>
            <li>Join the <code>srawn</code> mailing list on <a href="https://groups.google.com/g/srawn">Google Groups</a></li>
            <li>Read historical issues on the <a href="https://studentrobotics.org/srawn">SR(A)WN Archive</a></li>
            <li>Subscribe to the <a href="https://studentrobotics.org/srawn/rss.xml">SR(A)WN RSS Feed</a></li>
          </ul>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-divider border-color="#3270ed"></mj-divider>
        <mj-text font-size="12px" font-family="Open Sans" line-height="16px">
          The Student Robotics (Almost) Weekly Newsletter is written by volunteers for volunteers. We'd like to thank everybody that contributed to this issue. An archive of SR(A)WN newsletters is <a href="https://studentrobotics.org/srawn">available online</a>. If you'd like to contribute to the next issue of SR(A)WN, please visit the <a href="https://github.com/srobo/srawn">GitHub repository</a>.
        </mj-text>
        <mj-text font-size="12px" font-family="Open Sans" line-height="16px"></mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
