<mjml>
  <mj-head>
    <mj-title>SR(A)WN {{ date }} : {{ sryear }} Issue {{ issue }}<</mj-title>
  </mj-head>
  <mj-body>
    <mj-section>
    	<mj-column>
      	<mj-image width="100px" src="https://studentrobotics.org/style/assets/logo.svg"></mj-image>
        <mj-text font-size="60px" font-family="Oswald" align="center">SR(A)WN</mj-text>
				<mj-text font-size="20px" font-family="Oswald" align="center">Student Robotics (Almost) Weekly Newsletter</mj-text>
      </mj-column>
    </mj-section>
    
    <mj-section>
      <mj-column>
        <mj-divider border-color="#3270ed"></mj-divider>
        <mj-text font-size="30px" font-family="Oswald" align="center">{{ date }} : {{ sryear }} Issue {{ issue }}</mj-text>
        {{ content }}
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-divider border-color="#3270ed"></mj-divider>
        <mj-text font-size="12px" font-family="Open Sans" line-height="16px">
          The Student Robotics (Almost) Weekly Newsletter is written by volunteers for volunteers. We'd like to thank everybody that contributed to this issue. An archive of SR(A)WN newletters is <a href="https://studentrobotics.org/srawn">available online</a>. If you'd like to contribute to the next issue of SR(A)WN, please visit the <a href="https://github.com/srobo/srawn">GitHub repository</a>.
        </mj-text>
        <mj-text font-size="12px" font-family="Open Sans" line-height="16px"></mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
